<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>AD Save Bank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/core.css">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/colors.css">
        <link rel="stylesheet" href="stylesheets/loading.css">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="loading">
            Loading...<br>
            This shouldn't take longer than a few seconds...
        </div>
        <div id="app">
            <header>
                <button-menu @toggle-menu="menu()"></button-menu>
                <div class="title">
                    AD Save Bank
                </div>
                <div class="about">
                    <span class="version">{{version}}</span>
                    <span class="link">
                         | <a target="_blank" href="changelog.html" class="link">Changelog</a>
                         | <a target="_blank" href="info.html" class="link">Info</a>
                    </span>
                </div>
            </header>

            <main class="main">
                <div class="cat-nav">
                    <div class="mini-header">
                        <button-menu @toggle-menu="menu()"></button-menu>
                        <span class="title">Menu</span>
                    </div>

                    <ul class="nav-ul">
                        <li v-for="(tab, i) in tabs" :key="i">
                            <button v-if="i < saves.length"
                                    :class="[{'is-active': currentTab === tab}, saves[i].era]"
                                    @click="switchTab(i)">
                                {{tab}} ({{(saves[i].saves || []).length}})
                            </button>
                            <button v-else
                                    :class="{'is-active': currentTab === tab}"
                                    @click="switchTab(i)">
                                {{tab}}
                            </button>
                        </li>
                        <li class="nav-version">{{version}}</li>
                        <li class="nav-link"><a target="_blank" href="changelog.html">Changelog</a></li>
                        <li class="nav-link"><a target="_blank" href="info.html">Info</a></li>
                    </ul>
                </div>
                <div class="mask" @click="menu()"></div>
                <div class="tab-con">
                    <div v-for="cat in saves"
                         v-if="currentTab === cat.name"
                         class="tab file-list">
                        <category-header :title="cat.name">
                            {{cat.desc || ""}}
                            <template v-slot:buttons>
                                <button @click="toggleSort()">
                                    Ordering: {{sortTypes[sortMode]}}
                                </button>
                            </template>
                        </category-header>

                        <save-file-container v-if="cat.saves !== undefined && cat.saves.length !== 0"
                                             v-for="(saveFile, i) in sort(cat.saves)"
                                             :class="i % 2 == 1 ? cat.era + '-background' : ''"
                                             :save-file="saveFile"
                                             :key="i">
                        </save-file-container>

                        <save-file-container v-else>
                            <template v-slot:description>
                                No save file available.
                            </template>
                        </save-file-container>
                    </div>

                    <div class="tab file-list" v-if="currentTab === 'Custom Saves'">
                        <custom-saves></custom-saves>
                    </div>

                    <div class="tab settings-tab" v-if="currentTab === 'Settings'">
                        <category-header title="Settings" :show-button="false"></category-header>

                        <button @click="switchTheme()">
                            Theme: {{themes[currentTheme]}}
                        </button>

                        <button class="warning" @click="showWipeDataModal = true">
                            Wipe all user data
                        </button>

                        <modal-confirm v-if="showWipeDataModal" @yes="reset" @no="showWipeDataModal = false">
                            <template v-slot:header>
                                <span class="warning">Wipe all user data</span>
                            </template>

                            Are you sure you want to wipe all user data? <span class="warning">This cannot be undone!</span>
                        </modal-confirm>
                    </div>
                </div>
            </main>
         </div>

         <!-- Development !-->
         <script src="javascripts/libraries/vue.js"></script>
         <script src="javascripts/libraries/jszip.js"></script>

         <!-- Production !-->
         <!-- <script src="javascripts/libraries/vue.min.js"></script>
         <script src="javascripts/libraries/jszip.min.js"></script> -->
         <script src="javascripts/libraries/FileSaver.min.js"></script>

         <script src="javascripts/components/button-menu.js"></script>
         <script src="javascripts/components/button-tooltip.js"></script>
         <script src="javascripts/components/category-header.js"></script>
         <script src="javascripts/components/save-file-container.js"></script>
         <script src="javascripts/components/custom-saves.js"></script>
         <script src="javascripts/components/custom-save-container.js"></script>
         <script src="javascripts/components/modal-base.js"></script>
         <script src="javascripts/components/modal-input.js"></script>
         <script src="javascripts/components/modal-confirm.js"></script>

         <script src="javascripts/database.js"></script>
         <script src="javascripts/util.js"></script>
         <script src="javascripts/index.js"></script>
    </body>
</html>

<!-- TODO: Database -->
<!-- TODO: In contribution / github desc, add detailed description about contributing etc-->

<!-- TODO: IDK maybe name versions after greek alphabet -->

<!-- TODO: Far: save editor -->
