body{
    background-color: #121212;
    color: #FFFFFF;
    max-width: 1000px;
    padding-left: 20px;
}

button{
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition-duration: 0.3s;
}

.cat-nav {
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
}

.cat-nav button{
    margin-bottom: 10px;
    min-width: 150px;
    min-height: 60px;
}

.file-con{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    padding: 20px;
    margin-bottom: 20px;
}

.file-text-con{
    flex-grow: 1;
    padding-bottom: 20px;
}

.file-name{
    font-size: 20px;
    margin-bottom: 20px;
}

.file-desc{
    line-height: 1.6
}

.file-btn-con{
    min-width: 10%;
    display: flex;
    flex-direction: column;
}

.file-btn{
    margin-bottom: 10px;
    min-width: 150px;
    min-height: 40px;
}

.settings-con{
    display: flex;
    flex-direction: row;
}

.settings-btn{
    flex-grow: 0;
    min-width: 200px;
    min-height: 100px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .file-con {
        flex-direction: column;
    }

    .settings-con{
        display: flex;
        flex-direction: column;
    }

    .file-btn {
        flex-grow: 1;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .file-btn-con {
        flex-direction: row;
    }

    .file-btn {
        flex-grow: 1;
        margin: 10px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
