/* global stuff */

* {
    color: var(--color);
    transition-duration: 0.5s;
}

body{
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: var(--background);
}

button{
    background-color: transparent;
    border: 2px solid var(--color);
    cursor: pointer;
}

button:hover{
    background-color: var(--hover);
    transition-duration: 0.3s;
}

/* actual layout */

#app {
    min-height: 100vh; /* for side nav to go full screen */
    display: flex;
    flex-direction: column;
}

/* top bar */

header {
    background-color: var(--primary);
    display: flex;
    padding: 0;
    align-items: center;
    padding: 0 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 64px;
}

.menu-btn {
    display: none; /* default on desktop */
}

.title, .about {
    margin: 16px;
}

.title {
    font-size: 24px;
    flex-grow: 1;
}

/* main content */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* naivgations */

.cat-nav {
    background: var(--secondary);
    padding: 16px;
    width: 256px;
    list-style-type: none;
    margin: 0;

    position: fixed;
    z-index: 50;
    height: calc(100vh - 64px - 32px);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-btn-con {
    display: flex;
    align-items: center;
}

.cat-btn {
    margin-bottom: 16px;
    min-width: 240px;
    min-height: 48px;
}

.cat-btn.is-active {
    background-color: var(--color);
    color: var(--background);
}

.nav-version, .nav-link {
    margin-bottom: 16px;
    display: none;
}

/* tabs */

.tab-con {
    margin-left: 288px;

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.file-list {
    flex-grow: 1;
    transition-duration: 0s;
}

.file-con{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--color);
    margin-bottom: 20px;
    transition-duration: 0s;
}

.file-text-con{
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.file-name{
    font-size: 20px;
    margin: 8px;
}

.file-desc{
    line-height: 1.6;
    margin: 8px;
}

.file-btn-con{
    padding: 16px;
    min-width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-btn{
    margin: 8px;
    min-width: 160px;
    min-height: 48px;
}

.settings-con{
    display: flex;
    flex-direction: column;
}

.settings-btn{
    flex-grow: 0;
    min-width: 192px;
    min-height: 96px;
}

/* tooltip */
.tippy-content {
    color: var(--tooltip);
}

/* preset backgrounds */

.normal {
    border-color: var(--color-antimatter);
    color: var(--color-antimatter);
}

.normal-background {
    background-color: var(--color-antimatter-background);
}

.normal.is-active {
    background-color: var(--color-antimatter);
    color: var(--background);
}

.infinity {
    border-color: var(--color-infinity);
    color: var(--color-infinity);
}

.infinity-background {
    background-color: var(--color-infinity-background);
}

.infinity.is-active {
    background-color: var(--color-infinity);
    color: var(--background);
}

.eternity {
    border-color: var(--color-eternity);
    color: var(--color-eternity);
}

.eternity-background {
    background-color: var(--color-eternity-background);
}

.eternity.is-active {
    background-color: var(--color-eternity);
    color: var(--background);
}

.reality {
    border-color: var(--color-reality);
    color: var(--color-reality);
}

.reality-background {
    background-color: var(--color-reality-background);
}

.reality.is-active {
    background-color: var(--color-reality);
    color: var(--background);
}

/* tooltip */
.tippy-content {
    color: var(--tooltip);
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /* menu button */
    .menu-btn {
        height: 64px;
        min-width: 64px;
        padding: 20px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-btn-inner {
        background-color: var(--color);
        border: none;
        width: 100%;
        height: 2px;
    }

    /* animation */

    #app.is-active .menu-btn-inner.top {
        transform: translateY(8px) rotate(45deg);
    }

    #app.is-active .menu-btn-inner.mid {
        opacity: 0%;
    }


    #app.is-active .menu-btn-inner.bot {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* header */

    header {
        padding: 0;
    }

    .about .link {
        display: none;
    }

    /* main */

    /* navigation expansion */

    .cat-nav {
        transform: translateX(-288px);
    }

    #app.is-active .cat-nav {
        transform: translateX(0);
    }

    .mask {
        height: calc(100vh - 64px);
        opacity: 0%;
        background-color: #000000;

        position: fixed;
        z-index: 25;
    }

    #app.is-active .mask {
        cursor: pointer;
        opacity: 60%;
        width: 100%;
    }

    /* extra link */

    .nav-link {
        display: block;
    }


    /* tabs */

    .tab-con {
        width: 100%;
        margin-left: 0;
    }


    /* files */


    .file-con {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .file-btn {
        flex-grow: 1;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .file-btn-con {
        flex-direction: row;
    }

    .file-btn {
        flex-grow: 1;
        margin: 10px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    body {
        min-width: 272px;
    }

    .about {
        display: none;
    }

    .nav-version {
        display: block;
    }

    .settings-con{
        display: flex;
        flex-direction: column;
    }
}
