/* global stuff */

* {
    color: var(--color);
    word-break: break-word;
    transition: color 0.5s, background-color 0.5s, border 0.5s;
}

body{
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: var(--background);
}

body.is-active {
    overflow: hidden;
}

button {
    background-color: transparent;
    border: 2px solid var(--color);
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--hover);
    transition-duration: 0.3s;
}

button.is-active {
    background-color: var(--color);
    color: var(--background);
}

/* custom elements */

/* tooltip - Important! */

.tooltip-frame {
    position: relative;
}

.tooltip-btn {
    position: relative;
}

.tooltip-text {
	min-width: 10px;
	min-height: 5px;
	text-align: center;
	background-color: var(--tooltip-background);
	color: var(--tooltip);
	border-radius: 4px;
	padding: 8px;
	opacity: 0;
	display: inline-block;
	transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s, left 0.5s linear 0.5s;
	user-select: none;
    pointer-events: none; /* prevent clicking tooltip from triggering button */
	cursor: default;
	-webkit-tap-highlight-color: transparent; /* prevent selection on mobile */
	position: absolute;
	z-index: 10;
	top: -60px;
	left: -9999px;
}

.tooltip-text::after {
	content: " ";
	position: absolute;
	top: calc(100% - 8px);
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: var(--tooltip-background);
	transform: rotate(45deg);
}

.tooltip-text.is-active {
    left: calc(50% - 40px);
    transition: opacity 0.5s, width 0.5s, height 0.5s, color 0.5s, background-color 0.5s;
    opacity: 1;
}

/* modal boxes - IMPORTANT! */

.modal-outer {
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--modal);

    display: flex;

    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 501;

    min-width: 40%;
    max-width: 75%;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--secondary);

	box-shadow: 5px 8px 8px 0px #00000060;

    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-close {
    width: 40px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: calc(100% - 40px);
    border: none;
    border-radius: 8px; /* match the modal */
    color: var(--warning);
}

.modal-input-header {
    font-size: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.modal-input-content {
    font-size: 16px;
    flex-grow: 1;

    min-width: 80%;

    padding: 0;
    margin: 0;
    list-style-type: none;
}

.modal-input-content li {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    padding: 8px;
}

.modal-input-content input {
    font-size: inherit;
    margin-left: 16px;
    flex-grow: 1;
    border: 2px solid var(--color);
    background-color: var(--background);
}

.modal-input-footer {
    display: flex;
    justify-content: center;
}

.modal-input-footer button {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px;
}

.modal-confirm-header {
    font-size: 20px;
    padding: 8px;
}

.modal-confirm-content {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 16px;
}

.modal-confirm-footer {
    display: flex;
    justify-content: space-around;
}

.modal-confirm-btn {
    font-size: 16px;
    flex-grow: 0;
    margin: 8px;
    padding: 8px 16px;
    min-width: 80px;
}

/* actual layout */

#app {
    min-height: 100vh; /* for side nav to go full screen */
    display: flex;
    flex-direction: column;
}

/* top bar */

header {
    background-color: var(--primary);
    display: flex;
    padding: 0;
    align-items: center;
    padding: 0 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 25;
    height: 64px;
}

.menu-btn {
    display: none; /* default on desktop */
}

.title, .about {
    margin: 16px;
}

.title {
    font-size: 24px;
    flex-grow: 1;
}

/* main content */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* naivgations */

.cat-nav {
    background: var(--secondary);
    padding: 0px;
    width: 288px;
    list-style-type: none;
    margin: 0;

    position: fixed;
    z-index: 25;
    height: calc(100vh - 64px);
    overflow: auto;
}

.mini-header {
    display: none;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    padding-bottom: 120px; /* try to and fix the weird chrome vh bug */
}

.nav-ul button {
    margin-bottom: 16px;
    min-width: 240px;
    min-height: 48px;
}

.nav-version, .nav-link {
    margin-bottom: 16px;
    display: none;
}

.mask {
    width: 0%;
    height: 100vh;
    transition: background-color 0.5s, width 0s ease 0.5s;
    transform: translateY(-64px);
    background-color: #00000000;

    position: fixed;
    z-index: 50;

    -webkit-tap-highlight-color: transparent; /* prevent selection on mobile */
}

body.is-active .mask {
    transition: background-color 0.5s, width 0s ease 0s;

    cursor: pointer;
    background-color: #00000099;
    width: 100%;
}

/* tabs */

.tab-con {
    margin-left: 288px;
    padding: 16px;

    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* files */

/* header */

.tab-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.tab-header .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
}

.tab-header .title, .tab-header .desc {
    min-width: 0; /* flexbox issues*/
    margin: 8px;
}

.tab-header .title {
    font-size: 24px;
}

.tab-header .desc {
    font-size: 16px;
}

.tab-header .btn-con {
    display: flex;
    flex-direction: column;
}

.tab-header .btn-con button {
    min-width: 208px;
    min-height: 32px;
    padding: 8px;
    margin-bottom: 16px;
}

/* saves */

.file-list {
    flex-grow: 1;
    transition-duration: 0s;
}

.file-con{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--color);
    margin-bottom: 20px;
    transition-duration: 0s;
}

.file-text-con{
    margin: 16px;
}

.file-name{
    font-size: 20px;
    margin: 8px 8px 16px;
}

.file-desc{
    line-height: 1.6;
    margin: 8px;
}

.file-btn-con{
    margin: 16px;
    min-width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.file-btn {
    margin: 8px;
    min-width: 160px;
    min-height: 48px;
}

/* custom saves css - I hate this part */

.custom-save-con .file-con {
    flex-direction: column;
}

.custom-save-con .file-btn-con {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* settings */

.settings-tab{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.settings-tab>button{
    align-self: flex-start;
    width: 192px;
    min-height: 96px;
    margin-bottom: 16px;
}


/* presets */
.warning {
    border-color: var(--warning);
    color: var(--warning);
    text-transform: uppercase;
}

.normal {
    border-color: var(--color-antimatter);
    color: var(--color-antimatter);
}

.normal-background {
    background-color: var(--color-antimatter-background);
}

.normal.is-active {
    background-color: var(--color-antimatter);
    color: var(--background);
}

.infinity {
    border-color: var(--color-infinity);
    color: var(--color-infinity);
}

.infinity-background {
    background-color: var(--color-infinity-background);
}

.infinity.is-active {
    background-color: var(--color-infinity);
    color: var(--background);
}

.eternity {
    border-color: var(--color-eternity);
    color: var(--color-eternity);
}

.eternity-background {
    background-color: var(--color-eternity-background);
}

.eternity.is-active {
    background-color: var(--color-eternity);
    color: var(--background);
}

.dilation {
    border-color: var(--color-dilation);
    color: var(--color-dilation);
}

.dilation-background {
    background-color: var(--color-dilation-background);
}

.dilation.is-active {
    background-color: var(--color-dilation);
    color: var(--background);
}

.reality {
    border-color: var(--color-reality);
    color: var(--color-reality);
}

.reality-background {
    background-color: var(--color-reality-background);
}

.reality.is-active {
    background-color: var(--color-reality);
    color: var(--background);
}

.custom-background {
    background-color: var(--color-custom-background);
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

    /* menu button */
    .menu-btn {
        height: 64px;
        min-width: 64px;
        padding: 20px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-btn-inner {
        background-color: var(--color);
        border: none;
        width: 100%;
        height: 2px;
	    transition: color 0.5s, background-color 0.5s, border 0.5s, transform 0.5s, opacity 0.5s;
    }

    /* animation */

    body.is-active .menu-btn-inner.top {
        transform: translateY(8px) rotate(45deg);
    }

    body.is-active .menu-btn-inner.mid {
        opacity: 0%;
    }


    body.is-active .menu-btn-inner.bot {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* header */

    header {
        padding: 0;
    }

    .about .link {
        display: none;
    }

    /* main */

    /* navigation */

    .cat-nav {
        z-index: 100; /* to cover the mask */

        height: 100vh;
        transition: all 0.5s, height 0s;
        transform: translateX(-288px) translateY(-64px);
    }

    .mini-header {
        background-color: var(--primary);
        display: flex;

        position: sticky;
        top: 0;
        z-index: 200;
    }

    body.is-active .cat-nav {
        transform: translateX(0) translateY(-64px);
    }

    .nav-link {
        display: block;
    }

    /* tabs */

    .tab-con {
        width: 100%;
        margin-left: 0;
    }


    /* files */

    .file-list {
        min-width: 288px;
    }

    .file-con {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
    }

    .file-btn-con {
        flex-wrap: wrap;
    }

    .custom-save-con .file-btn {
        flex-grow: 1;
    }

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .file-btn-con {
        flex-direction: row;
        justify-content: space-between;
    }

    .file-btn {
        flex-grow: 1;
    }

    .custom-save-con .file-btn-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .custom-save-con .file-btn {
        justify-self: stretch;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    body {
        min-width: 288px;
    }

    .about {
        display: none;
    }

    .nav-version {
        display: block;
    }

    .tab-header {
        flex-direction: column;
        align-items: center;
    }

    .tab-header .info {
        align-items: center;
    }

    .custom-save-info {
        flex-direction: column;
    }

    .custom-save-size {
        margin: 8px 0;
        font-size: 18px;
    }

    .custom-save-con .file-btn-con, .custom-save-con .file-btn-row {
        flex-direction: column;
    }

    .modal {
        max-width: 80vw;
    }

    .settings-tab{
        display: flex;
        flex-grow: 0;
        align-self: center;
        flex-direction: column;
    }
}
