:root, .dark-theme{
    --color: #d9d9d9;
    --primary: #323232;
    --secondary: #222222;
    --background: #121212;
    --warning: #cf6679;
    --hover: #d9d9d926;
    --tooltip: #d9d9d9;
    --modal: #00000080;

    --tooltip-background: #323232;
    --color-antimatter: #2196f3;
    --color-antimatter-background: #df505050;
    --color-infinity: #b67f33;
    --color-infinity-background: #b67f3350;
    --color-eternity: #b341e0;
    --color-eternity-background: #b341e050;
    --color-dilation: #51cc0a;
    --color-dilation-background: #51cc0a50;
    --color-reality: #0ba00e;
    --color-reality-background: #0ba00e50;

    --color-teresa: #5151ec;
    --color-teresa-background: #5151ec50;
    --color-effarig: #d13737;
    --color-effarig-background: #d1373750;
    --color-nameless: #f1aa7f;
    --color-nameless-background: #f1aa7f50;
    --color-v: #ead584;
    --color-v-background: #ead58450;
    --color-ra: #9575cd;
    --color-ra-background: #9575cd50;
    /* Generic colour for celestials */
    --color-celestial: #5151ec;
    --color-celestial-background: #5151ec50;

    --color-default: #d9d9d9;
    --color-default-background: #d9d9d950;
}

.light-theme{
    --color: #4f5957;
    --primary: #ffffff;
    --secondary: #fafafa;
    --background: #f0f0f0;
    --warning: #b00020;
    --hover: #4f595726;
    --tooltip: #ffffff;

    --color-antimatter-background: #2196f350;
    --color-infinity-background: #ff980050;
    --color-eternity-background: #673ab750;
    --color-dilation-background: #33b70050;
    /* I don't know what the actual value is, I just adjust them until they look good */
    --color-reality-background: #0a710c50;
    --color-teresa-background: #4040e450;
    --color-effarig-background: #d1232350;
    --color-nameless-background: #e7925e50;
    --color-v-background: #e9cc5a50;
    --color-ra-background: #8157ca50;
    --color-celestial-background: #433cd390;

    --color-default: #4f5957;
    --color-default-background: #4f595750;
}
